<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCocktail</title>
</head>
<body>
{% extends 'base.html' %} 
{% block content %}
{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}!</p>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
<h1>About MyCocktail</h1>
<hr />
<p class="page-content">
  I like long romantic walks down the produce aisle. Also, I am currently job
  seeking!
</p>
{% endblock %}
</body>
</html>