{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1>About MyCocktail</h1>
    <hr />
    <div class="page-content">
        <p>Welcome to <strong>MyCocktail</strong> – the ultimate app for cocktail lovers, mixologists, and anyone who enjoys experimenting with drinks! Whether you're a seasoned bartender or a home enthusiast, MyCocktail is designed to help you discover, create, and share cocktail recipes like never before.</p>
        <p>Whether you're hosting a party or just want to try something new, MyCocktail has everything you need to craft the perfect drink. Join the community, unleash your creativity, and elevate your mixology skills with <strong>MyCocktail</strong>! Cheers! 🥂🍸</p>
    </div>
</div>
{% endblock %}
