{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCocktail</title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block head %}{% endblock %}
</head>

<body>

    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/MyCocktailLogo-White.png' %}" alt="MyCocktail Logo" class="logo">
        </a>
      </div>
      <div class="welcome-user">
      <h2>
        {% if user.is_authenticated %}
          Welcome, {{ user.username }}!
        {% endif %}
      </h2>
      </div>
      <nav>
        <ul>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/about">About</a></li>
    
            {% if user.is_authenticated %}
                <li><a href="/cocktails/my-cocktails">My Cocktails</a></li>
                <li><a href="/my-collections">My Collections</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="#" class="button" id="openModalBtn">Create Cocktail</a></li> <!-- Modal trigger -->
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
      {% include 'cocktails/cocktail_modal.html' %}
    </main>

    <!-- JavaScript for modal functionality -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
          // Handle Create Cocktail Modal
          const createModal = document.getElementById("cocktailModal");
          const openCreateModalBtn = document.getElementById("openModalBtn");
          const closeCreateModalBtn = document.getElementById("closeModal");
    
          if (openCreateModalBtn && createModal && closeCreateModalBtn) {
              openCreateModalBtn.addEventListener("click", function (event) {
                  event.preventDefault();
                  createModal.style.display = "block";
              });
    
              closeCreateModalBtn.addEventListener("click", function () {
                  createModal.style.display = "none";
              });
    
              window.addEventListener("click", function (event) {
                  if (event.target === createModal) {
                      createModal.style.display = "none";
                  }
              });
          }
        })
    </script>

</body>
</html>
