{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>MyCocktail</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <h1><a href="/">MyCocktail</a></h1>
      </div>
      <nav>
        <ul>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/about">About</a></li>

            {% if user.is_authenticated %}
                <!-- Display 'Logout' if user is authenticated -->
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <!-- Display 'Login' and 'Sign up' if user is not authenticated -->
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
