{% extends "base.html" %}

{% block content %}
  <h2>Login</h2>

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}" autocomplete="off">
    {% csrf_token %}
    <!-- Login form fields -->
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
  </form>
  <!-- Display error messages -->



  <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
{% endblock %}