{% extends 'base.html' %}

{% block content %}
<div class=user-form>
    <h1>Delete Collection</h1>
    <p>Are you sure you want to delete the collection <strong>{{ collection.name }}</strong>?</p>

    <form method="POST">
        {% csrf_token %}
        <div class="button-container">
            <a href="{% url 'collection_detail' collection.id %}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>
{% endblock %}
