{% extends "base.html" %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="GET" action="{% url 'browse' %}" class="cocktail-search-form">
  <input type="text" name="search" value="{{ search_query }}" placeholder="Search Cocktails..." class="form-input" />

  <select name="category" class="form-select">
    <option value="">All Categories</option>
    <option value="Classic" {% if category_filter == 'Classic' %} selected {% endif %}>Classic Cocktails</option>
    <option value="Tropical" {% if category_filter == 'Tropical' %} selected {% endif %}>Tropical Cocktails</option>
    <option value="Signature" {% if category_filter == 'Signature' %} selected {% endif %}>Signature Cocktails</option>
    <option value="Modern" {% if category_filter == 'Modern' %} selected {% endif %}>Modern Cocktails</option>
    <option value="Frozen" {% if category_filter == 'Frozen' %} selected {% endif %}>Frozen Cocktails</option>
    <option value="Highball" {% if category_filter == 'Highball' %} selected {% endif %}>Highball Cocktails</option>
    <option value="Lowball" {% if category_filter == 'Lowball' %} selected {% endif %}>Lowball / Rocks Cocktails</option>
    <option value="Sours" {% if category_filter == 'Sours' %} selected {% endif %}>Sours</option>
    <option value="Punch" {% if category_filter == 'Punch' %} selected {% endif %}>Punch Cocktails</option>
    <option value="Shots" {% if category_filter == 'Shots' %} selected {% endif %}>Shots</option>
    <option value="Martini" {% if category_filter == 'Martini' %} selected {% endif %}>Martinis</option>
    <option value="Champagne" {% if category_filter == 'Champagne' %} selected {% endif %}>Champagne & Sparkling Cocktails</option>
    <option value="Mocktail" {% if category_filter == 'Mocktail' %} selected {% endif %}>Mocktails</option>
  </select>

  <select name="alcoholic" class="form-select">
    <option value="">Any</option>
    <option value="yes" {% if alcoholic_filter == 'yes' %} selected {% endif %}>Alcoholic</option>
    <option value="no" {% if alcoholic_filter == 'no' %} selected {% endif %}>Non-Alcoholic</option>
  </select>

  <button type="submit" class="form-button">Search</button>
</form>

    <!-- Include the cocktail index -->
    {% include "cocktails/index.html" %}

{% endblock %}