{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cocktail-detail.css' %}">
<link rel="stylesheet" href="{% static 'css/cocktail-modal.css' %}">

<button onclick="history.back()" class="btn btn-secondary">Back</button>

<div class="page-header">
  <div class="d-flex">
  <h1>{{ cocktail.name }}</h1>
  <form action="{% url 'like_cocktail' cocktail.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="like-btn">
        {% if request.user in cocktail.likes.all %}
            <i class="fas fa-heart"></i> Unlike
        {% else %}
            <i class="far fa-heart"></i> Like
        {% endif %}
    </button>
  </form>
  </div>
  <div class="page-action">
  {% if request.user == cocktail.creator %}
  <!-- Action Buttons: Edit and Delete -->
  <div class="action-buttons">
      <a href="#" class="btn btn-primary" id="openEditModalBtn" data-cocktail-id="{{ cocktail.id }}">Edit Cocktail</a>
      <a href="{% url 'delete_cocktail' cocktail.id %}" class="btn btn-danger">Delete Cocktail</a>
  </div>
  {% endif %}
  </div>
</div>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<div class="container cocktail-detail-container">
  <div class="cocktail-image">
    {% if cocktail.image_url %}
    <img src="{{ cocktail.image_url }}" alt="{{ cocktail.name }}" class="detail-card-img">
    {% else %}
    <img src="{% static 'images/default-cocktail.jpg' %}" alt="Default Cocktail" class="detail-card-img">
    {% endif %}
    {% if request.user.is_authenticated %}
<!-- Add to Collection Form -->
<form method="POST" action="{% url 'add_to_collection' cocktail.id %}" class="add-to-collection-form">
  {% csrf_token %}
  <label for="collection">Add to Collection:</label>
  <div class="collection-select-wrapper">
    {% if user_collections %}
      <!-- If the user has collections, show the select dropdown -->
      <select name="collection_id" id="collection">
        {% for collection in user_collections %}
          <option value="{{ collection.id }}">{{ collection.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary">Add</button>
    {% else %}
      <p>You don't have any collections yet. <a href="{% url 'create_collection' %}">Create one now</a>.</p>
    {% endif %}
</div>
</form>
{% endif %}
</div>

  <div class="cocktail-details">

    <div class="cocktail-detail">
      <p><strong>Description:</strong><span class="cocktail-value">{{ cocktail.description }}</span></p>
      <p><strong>Category:</strong><span class="cocktail-value">{{ cocktail.category }}</span></p>
      <p><strong>Glass Type:</strong><span class="cocktail-value">{{ cocktail.glass_type }}</span></p>
      <p><strong>Alcoholic:</strong><span class="cocktail-value">{% if cocktail.alcoholic %} Yes {% else %} No {% endif %}</span></p>
      <p><strong>Shared to Public:</strong><span class="cocktail-value">{% if cocktail.shared %} Yes {% else %} No {% endif %}</span></p>
    </div>
    <hr class="styled-line">
    <p><strong>Ingredients:</strong></p>
    <ul>
      {% for ingredient in cocktail.ingredients.all %}
        <li>{{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}
          {% if ingredient.garnish %}(Garnish){% endif %}
          {% if ingredient.optional %}(Optional){% endif %}
        </li>
      {% endfor %}
    </ul>
    <p><strong>Instructions:</strong></p>
    <ol>
      {% for step in cocktail.steps.all %}
        <li>{{ step }}</li>
      {% endfor %}
    </ol>
  </div>
</div>

    <!-- Comments Section -->
    <h2>Comments</h2>
  {% if comments.count == 0 %}
      <p>No comments available.</p>
    {% else %}
    <div class="comments">
      {% for comment in comments %}
        <div class="comment">
          <p><strong>{{ comment.user.username }}:</strong> {{ comment.text }}</p>
          <p id="comment-time">{{ comment.created_at }}</p>
          {% if comment.user == request.user %}
          <div class="comment-actions">
          <a href="#" class="edit-btn" data-comment-id="{{ comment.id }}">Edit</a>
          <a href="{% url 'delete_comment' comment.id %}">Delete</a>
          </div>
          <!-- Hidden Edit Form -->
          <form method="post" action="{% url 'edit_comment' comment.id %}" class="edit-form" id="edit-form-{{ comment.id }}" data-comment-id="{{ comment.id }}" style="display: none;">
            {% csrf_token %}
            <textarea name="text" class="edit-textarea" id="comment-text-{{ comment.id }}">{{ comment.text }}</textarea>
            <button type="submit">Save</button>
            <button type="button" class="comment-cancel-btn" data-comment-id="{{ comment.id }}">Cancel</button>
          </form>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <!-- Add a Comment Form -->
    <form method="post" action="{% url 'add_comment' cocktail.id %}">
      {% csrf_token %}
      <textarea class= "comment" name="text" rows="4" cols="50" placeholder="Add a comment..."></textarea>
      <button type="submit">Post Comment</button>
    </form>
  </div>


  <!-- Edit Cocktail Modal -->
  <div id="editCocktailModal" class="modal">
    <div class="modal-content">
      <span class="closeEdit">&times;</span>
      <h3>Edit Cocktail</h3>

      <form id="editCocktailForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="cocktail_id" name="id">

        <label for="edit_name">Cocktail Name:</label>
        <input type="text" id="edit_name" name="name" required>

        <label for="edit_description">Description:</label>
        <textarea id="edit_description" name="description"></textarea>

        <label for="edit_category">Category:</label>
        <select id="edit_category" name="category">
          <option value="Classic">Classic Cocktails</option>
          <option value="Tropical">Tropical Cocktails</option>
          <option value="Signature">Signature Cocktails</option>
          <option value="Modern">Modern Cocktails</option>
          <option value="Frozen">Frozen Cocktails</option>
          <option value="Highball">Highball Cocktails</option>
          <option value="Lowball">Lowball / Rocks Cocktails</option>
          <option value="Sours">Sours</option>
          <option value="Punch">Punch Cocktails</option>
          <option value="Shots">Shots</option>
          <option value="Martini">Martinis</option>
          <option value="Champagne">Champagne & Sparkling Cocktails</option>
          <option value="Mocktail">Mocktails</option>
        </select>

        <label for="edit_glass_type">Glass Type:</label>
        <select id="edit_glass_type" name="glass_type">
          <option value="Bowl">Bowl</option>
          <option value="Champagne Flute">Champagne Flute</option>
          <option value="Cocktail Glass">Cocktail Glass</option>
          <option value="Collins Glass">Collins Glass</option>
          <option value="Copper mug">Copper mug</option>
          <option value="Coupe">Coupe</option>
          <option value="Cup">Cup</option>
          <option value="Goblet">Goblet</option>
          <option value="Highball Glass">Highball Glass</option>
          <option value="Hurricane Glass">Hurricane Glass</option>
          <option value="Irish Coffee Glass">Irish Coffee Glass</option>
          <option value="Margarita Glass">Margarita Glass</option>
          <option value="Nick and Nora">Nick and Nora</option>
          <option value="Pitcher">Pitcher</option>
          <option value="Pub Glass">Pub Glass</option>
          <option value="Rocks Glass">Rocks Glass</option>
          <option value="Shooter">Shooter</option>
          <option value="Snifter">Snifter</option>
          <option value="Tiki">Tiki</option>
          <option value="Wine Glass">Wine Glass</option>
        </select>

        <label for="edit_alcoholic">Alcoholic:</label>
        <input type="checkbox" id="edit_alcoholic" name="alcoholic">

        <label for="edit_shared">Share to Public:</label>
        <input type="checkbox" id="edit_shared" name="shared">

        <label for="edit_image">Upload Image:</label>
        <input type="file" id="edit_image" name="image">

        <div id="editImagePreviewContainer" style="display: none;">
          <h4>Image Preview:</h4>
          <img id="editImagePreview" src="" alt="Selected Image Preview" style="max-width: 150px; height: 150px; border-radius: 8px;">
        </div>

        <!-- Ingredients Section -->
        <h4>Ingredients</h4>
        <ul id="edit-ingredients-list" class="sortable">
          <!-- Ingredients will be added dynamically -->
        </ul>
        <button type="button" id="addEditIngredientBtn">+ Add Ingredient</button>

        <!-- Steps Section -->
        <h4>Steps</h4>
        <ul id="edit-steps-list" class="sortable">
          <!-- Steps will be added dynamically -->
        </ul>
        <button type="button" id="addEditStepBtn">+ Add Step</button>

        <button type="submit">Save Cocktail</button>
      </form>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const modal = document.getElementById("editCocktailModal");
      const openEditModalBtn = document.getElementById("openEditModalBtn");
      const closeModalBtn = document.querySelector(".closeEdit");

      closeModalBtn.onclick = function () {
        modal.style.display = "none";
      };

      window.onclick = function (event) {
        if (event.target === modal) {
          modal.style.display = "none";
        }
      };

      openEditModalBtn.addEventListener("click", function (event) {
        event.preventDefault();
        modal.style.display = "flex";
        const cocktailId = openEditModalBtn.getAttribute("data-cocktail-id");
        if (cocktailId) {
          openEditModal(cocktailId);
        } else {
          console.error("No cocktail ID found");
        }
      });
      
      const imageInput = document.getElementById('edit_image');
      const imagePreviewContainer = document.getElementById('editImagePreviewContainer');
      const imagePreview = document.getElementById('editImagePreview');

      imageInput.addEventListener('change', function (event) {
        const file = event.target.files[0];

        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            imagePreviewContainer.style.display = 'block'; // Show the preview section
            imagePreview.src = e.target.result; // Set the preview image source
          };
          reader.readAsDataURL(file);
        } else {
          imagePreviewContainer.style.display = 'none'; // Hide preview if no file selected
        }
      });

    });


    function openEditModal(cocktailId) {
      fetch(`/cocktails/${cocktailId}/edit/`)  // Fetch the cocktail data to populate the form
        .then(response => response.json())
        .then(data => {
          if (data.cocktail) {
            // Populate fields with existing data
            document.getElementById("cocktail_id").value = data.cocktail.id;
            document.getElementById("edit_name").value = data.cocktail.name;
            document.getElementById("edit_description").value = data.cocktail.description;
            document.getElementById("edit_category").value = data.cocktail.category;
            document.getElementById("edit_glass_type").value = data.cocktail.glass_type;
            document.getElementById("edit_alcoholic").checked = data.cocktail.alcoholic;
            document.getElementById("edit_shared").checked = data.cocktail.shared;

            // Populate ingredients
            const ingredientsList = document.getElementById("edit-ingredients-list");
            data.cocktail.ingredients.forEach((ingredient) => {
              const li = document.createElement("li");
              li.className = "sortable-item";
              li.innerHTML = `
            <div class="ingredient-group">
              <input type="text" name="ingredients_name[]" value="${ingredient.name}" class="ingredient-name" required>
              <input type="text" name="ingredients_amount[]" value="${ingredient.amount}" class="ingredient-amount" required>
              <select name="ingredients_unit[]" class="ingredient-unit" required>
                <option value="oz">Ounce (oz)</option>
                <option value="tbsp">Tablespoon (tbsp)</option>
                <option value="tsp">Teaspoon (tsp)</option>
                <option value="cup">Cup</option>
                <option value="ml">Milliliter (ml)</option>
                <option value="cl">Centiliter (cl)</option>
                <option value="liter">Liter</option>
                <option value="pinch">Pinch</option>
                <option value="dash">Dash</option>
                <option value="slice">Slice</option>
                <option value="whole">Whole</option>
                <option value="drop">Drop</option>
                <option value="none">None</option>
              </select>
              </div>
              <div class="optional-group">
              <label for="garnish">Garnish:</label>
              <input type="checkbox" name="ingredients_garnish[]">
      
              <label for="optional">Optional:</label>
              <input type="checkbox" name="ingredients_optional[]">
              </div>
      
              <button type="button" class="remove-btn">✖</button>
          `;
              ingredientsList.appendChild(li);
            });

            // Populate steps
            const stepsList = document.getElementById("edit-steps-list");
            data.cocktail.steps.forEach((step) => {
              const li = document.createElement("li");
              li.className = "sortable-item";
              li.innerHTML = `
            <input type="text" name="steps[]" value="${step}" required>
            <button type="button" class="remove-btn">✖</button>

          `;
              stepsList.appendChild(li);
            });

            new Sortable(ingredientsList, { animation: 150 });
            new Sortable(stepsList, { animation: 150 });
          }
        })
        .catch(error => console.error("Error:", error));
    }

    // Add ingredient dynamically to the list in the modal (same as in create cocktail)
    const addEditIngredientBtn = document.getElementById("addEditIngredientBtn");
    addEditIngredientBtn.addEventListener("click", function () {
      const li = document.createElement("li");
      li.className = "sortable-item";
      li.innerHTML = `
    <div class="ingredient-group">
      <input type="text" name="ingredients_name[]" placeholder="Ingredient Name" class="ingredient-name" required>
      <input type="text" name="ingredients_amount[]" placeholder="Amount" class="ingredient-amount" required>
      <select name="ingredients_unit[]" class="ingredient-unit" required>
          <option value="oz">Ounce (oz)</option>
          <option value="tbsp">Tablespoon (tbsp)</option>
          <option value="tsp">Teaspoon (tsp)</option>
          <option value="cup">Cup</option>
          <option value="ml">Milliliter (ml)</option>
          <option value="cl">Centiliter (cl)</option>
          <option value="liter">Liter</option>
          <option value="pinch">Pinch</option>
          <option value="dash">Dash</option>
          <option value="slice">Slice</option>
          <option value="whole">Whole</option>
          <option value="drop">Drop</option>
          <option value="none">None</option>
      </select>
      </div>
      <div class="optional-group">
      <label for="garnish">Garnish:</label>
      <input type="checkbox" name="ingredients_garnish[]">
      
      <label for="optional">Optional:</label>
      <input type="checkbox" name="ingredients_optional[]">
      </div>
      
      <button type="button" class="remove-btn">✖</button>
  `;
      document.getElementById("edit-ingredients-list").appendChild(li);
    });

    // Add steps dynamically (same as in create cocktail)
    const addEditStepBtn = document.getElementById("addEditStepBtn");
    addEditStepBtn.addEventListener("click", function () {
      const li = document.createElement("li");
      li.className = "sortable-item";
      li.innerHTML = `
      <input type="text" name="steps[]" placeholder="Step description" required>
      <button type="button" class="remove-btn">✖</button>
    `;
      document.getElementById("edit-steps-list").appendChild(li);
    });

    // Remove Item (for Ingredients & Steps)
    document.addEventListener("click", function (e) {
      if (e.target.classList.contains("remove-btn")) {
        e.target.parentElement.remove();
      }
    });


    // Submit the form via AJAX for editing
      document.getElementById("editCocktailForm").addEventListener("submit", function (event) {
        event.preventDefault();
        let formData = new FormData(this);
        const cocktail_Id = openEditModalBtn.getAttribute("data-cocktail-id");

        fetch(`/cocktails/${cocktail_Id}/edit/`, {
          method: "POST",
          headers: {
            "X-CSRFToken": getCSRFToken()
          },
          body: formData
      })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            alert("Cocktail Updated Successfully!");
            window.location.reload();  // Reload the page or update the UI
          } else {
            alert("Error: " + data.error);
          }
        })
        .catch(error => console.error("Error:", error));
    });

    // CSRF Token function
    function getCSRFToken() {
      return document.querySelector("[name=csrfmiddlewaretoken]").value;
    }


  // Edit Comment
    // Select all "Edit" buttons
    document.querySelectorAll('.edit-btn').forEach(button => {
        button.addEventListener("click", function(event) {
            event.preventDefault();
            let commentId = this.getAttribute("data-comment-id");
            let form = document.getElementById(`edit-form-${commentId}`);
            form.style.display = "block";  // Show form
        });
    });

    // Select all "Cancel" buttons
    document.querySelectorAll('.cancel-btn').forEach(button => {
        button.addEventListener("click", function(event) {
            event.preventDefault();
            let commentId = this.getAttribute("data-comment-id");
            let form = document.getElementById(`edit-form-${commentId}`);
            form.style.display = "none";  // Hide form
        });
    });

    // Handle form submission via AJAX
    document.querySelectorAll('.edit-form').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();

        let commentId = this.getAttribute("data-comment-id"); // Get comment ID from the form
        let text = this.querySelector('.edit-textarea').value;  // Get the value of the textarea
        let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
          
        let formData = new FormData();
        formData.append('text', text); 

            fetch(`/comment/edit/${commentId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                const commentTextElement = document.getElementById(`comment-text-${commentId}`);

                if (commentTextElement) {
                    commentTextElement.innerText = data.new_text;
                } else {
                    console.error("Element not found: comment-text-" + commentId);
                }

                const editForm = document.getElementById(`edit-form-${commentId}`);
                if (editForm) editForm.classList.add('hidden'); 

                setTimeout(() => location.reload(), 500); 
            } else {
                alert('Error: ' + data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
  </script>
  {% endblock %}